<!-- src/main/resources/static/index.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles.css}" />
    <title>PainelVPN</title>
</head>
<body class="altbody">
  <div class="topbar">
    <h1>Painel VPN</h1>
    <a href="/logout">Logout</a>
  </div>
  <div class="container">
      <div class="sidebar">
          <ul>
            <li><a href="/admin-dashboard">Home</a></li>
          </ul>
      </div>

      <div class="content">
        <form id="userEdit" th:action="@{/editar-usuarios}" method="post">
          <select name="action" required>
                <option value="">Editar</option>
                <option value="promote">Eleger como administrador</option>
                <option value="revoke">Revogar administrador</option>
                <option value="lock">Revogar Acesso</option>
                <option value="unlock">Ativar Acesso</option>
                <option value="delete">Remover o cadastro</option>
              </select>
          <button type="submit">Aplicar modificações</button>
          <a href="/registrar-usuario">
            <button type="button">Novo</button>
          </a>
          <table>
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Função</th>
            </tr>
            <tr th:each="user : ${users}">
                <td><input type="checkbox" name="userIds" th:value="${user.id}" /></td>
                <td th:text="${user.fullname}"></td>
                <td th:text="${user.role == 0 ? 'Funcionário' : 'Administrador'}"></td>
            </tr>
          </table>
        </form>
      </div>
  </div>
</body>
</html>
